.cover__subtitle {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  text-align: center;
  padding-bottom: 33px;
  margin: 0;
  padding-top: 16px;
}
