.footer__copyright {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 48px 0 24px;
  white-space: nowrap;
  display: flex;
}

@media (min-width: 768px) {
  .footer__copyright {
    padding: 0;
  }
}
