.intro__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 40px 16px 0;
}

@media (min-width: 768px) {
  .intro__text {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1024px) {
  .intro__text {
    box-sizing: content-box;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 690px;
  }
}

@media (min-width: 1280px) {
  .intro__text {
    padding-left: 148px;
    padding-right: 148px;
  }
}
