.cover {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  height: 100%;
}

@media (min-width: 768px) {
  .cover {
    font-size: 72px;
    line-height: 76px;
    min-height: 480px;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .cover {
    min-height: 640px;
    height: 100%;
  }
}

@media (min-width: 1280px) {
  .cover {
    margin-left: 48px;
    margin-right: 48px;
    min-height: 740px;
    height: 100%;
    max-width: 1280px;
    box-sizing: border-box;
  }
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}
