.lead__caption {
  color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 8px 16px 0;
}

@media (min-width: 768px) {
  .lead__caption {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1024px) {
  .lead__caption {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (min-width: 1280px) {
  .lead__caption {
    padding-left: 148px;
    padding-right: 148px;
  }
}
