.cover__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  width: 100%;
  text-decoration-line: none;
}

@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}

